.ImageContainer {
  width: 100%;
  position: relative;
}

.ImageText {
  padding: 10px 25px;
  background-color: rgba(10, 10, 10, 0.6);
  color: #FFF;
  text-align: center;
  position: absolute;
  width: 100%;
}

.Image {
  width: 100%;
  object-fit: cover;
  max-height: 185px;
  object-position: bottom;
}
